body {
    margin: 0;
    background: #0b0b0b;
    color: #d6d6d6;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

header {
    background: #111;
    padding: 30px;
    border-bottom: 1px solid #300;
}

h1 {
    color: #8b0000;
    letter-spacing: 5px;
}

.warning {
    color: #777;
    font-size: 12px;
}

nav {
    margin: 20px;
}

nav button {
    background: #1a1a1a;
    color: #ccc;
    border: 1px solid #400;
    padding: 12px 25px;
    margin: 10px;
    cursor: pointer;
    transition: 0.3s;
}

nav button:hover {
    background: #8b0000;
    color: black;
}

.content {
    margin-top: 60px;
}

.enter {
    background: #8b0000;
    border: none;
    padding: 15px 40px;
    color: black;
    font-weight: bold;
    cursor: pointer;
}